@import './reset.styl'
@import './font/iconfont.css'
$fontSize = 37.5
@function px2rem($px){
  @return ($px / $fontSize) + rem
}
@function center() {
  display flex
  justify-content center
  align-items center
}